/************* block grid ****************/
//guttered
[class*="block-lg-"], [class*="block-md-"],[class*="block-sm-"],[class*="block-xs-"]{
  margin-left:-$grid-gutter-width/2;
  margin-right:-$grid-gutter-width/2;
}
[class*="block-lg-"]>*, [class*="block-md-"]>*,[class*="block-sm-"]>*,[class*="block-xs-"]>*{
  padding-left:$grid-gutter-width/2;
  padding-right:$grid-gutter-width/2;
}
//no-gutter
.no-gutter[class*="block-lg-"], .no-gutter[class*="block-md-"],.no-gutter[class*="block-sm-"],.no-gutter[class*="block-xs-"]{
  margin-left:0;
  margin-right:0;
}
.no-gutter[class*="block-lg-"]>*, .no-gutter[class*="block-md-"]>*,.no-gutter[class*="block-sm-"]>*,.no-gutter[class*="block-xs-"]>*{
  padding-left:0;
  padding-right:0;
}

.gutter-10 {
  margin-left: -5px;
  margin-right: -5px;

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
  .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/********* DEFAULT *********/
[class*="block-xs-"]>* {
  float: left;
}
.block-xs-1 > * {	width: 100%;}
.block-xs-2 > * {	width: 50%;}
.block-xs-3 > * {	width: 33.33333%;}
.block-xs-4 > * {	width: 25%;}
.block-xs-5 > * {	width: 20%;}
.block-xs-6 > * {	width: 16.66667%;}
.block-xs-7 > * {	width: 14.28571%;}
.block-xs-8 > * {	width: 12.5%;}
.block-xs-9 > * {	width: 11.11111%;}
.block-xs-10 > * {width: 10%;}
.block-xs-11 > * {width: 9.09091%;}
.block-xs-12 > * {width: 8.33333%;}

.block-xs-1 > *:nth-of-type(1n+1),
.block-xs-2 > *:nth-of-type(2n+1),
.block-xs-3 > *:nth-of-type(3n+1),
.block-xs-4 > *:nth-of-type(4n+1),
.block-xs-5 > *:nth-of-type(5n+1),
.block-xs-6 > *:nth-of-type(6n+1),
.block-xs-7 > *:nth-of-type(7n+1),
.block-xs-8 > *:nth-of-type(8n+1),
.block-xs-9 > *:nth-of-type(9n+1),
.block-xs-10 > *:nth-of-type(10n+1),
.block-xs-11 > *:nth-of-type(11n+1),
.block-xs-12 > *:nth-of-type(12n+1) {
  clear: both;
}

/********* SMALL (>=768) *********/
@media (min-width: $screen-sm-min) {
  .pull-sm-left{float:left !important;}
  .pull-sm-right{float:right !important;}

  [class*="block-sm-"]>* {
    float: left;
  }
  .block-sm-1 > * {	width: 100%;}
  .block-sm-2 > * {	width: 50%;}
  .block-sm-3 > * {	width: 33.33333%;}
  .block-sm-4 > * {	width: 25%;}
  .block-sm-5 > * {	width: 20%;}
  .block-sm-6 > * {	width: 16.66667%;}
  .block-sm-7 > * {	width: 14.28571%;}
  .block-sm-8 > * {	width: 12.5%;}
  .block-sm-9 > * {	width: 11.11111%;}
  .block-sm-10 > * {width: 10%;}
  .block-sm-11 > * {width: 9.09091%;}
  .block-sm-12 > * {width: 8.33333%;}

  .block-sm-1>*,.block-sm-2>*,.block-sm-3>*,.block-sm-4>*, .block-sm-5>*,.block-sm-6>*,.block-sm-7>*,.block-sm-8>*, .block-sm-9>*,.block-sm-10>*,.block-sm-11>*,.block-sm-12>*{
    clear:none;
  }
  .block-sm-1 > *:nth-of-type(1n+1),
  .block-sm-2 > *:nth-of-type(2n+1),
  .block-sm-3 > *:nth-of-type(3n+1),
  .block-sm-4 > *:nth-of-type(4n+1),
  .block-sm-5 > *:nth-of-type(5n+1),
  .block-sm-6 > *:nth-of-type(6n+1),
  .block-sm-7 > *:nth-of-type(7n+1),
  .block-sm-8 > *:nth-of-type(8n+1),
  .block-sm-9 > *:nth-of-type(9n+1),
  .block-sm-10 > *:nth-of-type(10n+1),
  .block-sm-11 > *:nth-of-type(11n+1),
  .block-sm-12 > *:nth-of-type(12n+1) {
    clear: both;
  }
}
/********* MEDIUM (>=992) *********/
@media (min-width: $screen-md-min) {
  .pull-md-left{float:left !important;}
  .pull-md-right{float:right !important;}

  [class*="block-md-"]>* {
    float: left;
  }
  .block-md-1 > * {	width: 100%;}
  .block-md-2 > * {	width: 50%;}
  .block-md-3 > * {	width: 33.33333%;}
  .block-md-4 > * {	width: 25%;}
  .block-md-5 > * {	width: 20%;}
  .block-md-6 > * {	width: 16.66667%;}
  .block-md-7 > * {	width: 14.28571%;}
  .block-md-8 > * {	width: 12.5%;}
  .block-md-9 > * {	width: 11.11111%;}
  .block-md-10 > * {width: 10%;}
  .block-md-11 > * {width: 9.09091%;}
  .block-md-12 > * {width: 8.33333%;}

  .block-md-1>*,.block-md-2>*,.block-md-3>*,.block-md-4>*, .block-md-5>*,.block-md-6>*,.block-md-7>*,.block-md-8>*, .block-md-9>*,.block-md-10>*,.block-md-11>*,.block-md-12>*{
    clear:none;
  }
  .block-md-1 > *:nth-of-type(1n+1),
  .block-md-2 > *:nth-of-type(2n+1),
  .block-md-3 > *:nth-of-type(3n+1),
  .block-md-4 > *:nth-of-type(4n+1),
  .block-md-5 > *:nth-of-type(5n+1),
  .block-md-6 > *:nth-of-type(6n+1),
  .block-md-7 > *:nth-of-type(7n+1),
  .block-md-8 > *:nth-of-type(8n+1),
  .block-md-9 > *:nth-of-type(9n+1),
  .block-md-10 > *:nth-of-type(10n+1),
  .block-md-11 > *:nth-of-type(11n+1),
  .block-md-12 > *:nth-of-type(12n+1) {
    clear: both;
  }
}
@media (min-width: $screen-lg-min) {
  .pull-lg-left{float:left !important;}
  .pull-lg-right{float:right !important;}

  [class*="block-lg-"]>* {
    float: left;
  }
  .block-lg-1 > * {	width: 100%;}
  .block-lg-2 > * {	width: 50%;}
  .block-lg-3 > * {	width: 33.33333%;}
  .block-lg-4 > * {	width: 25%;}
  .block-lg-5 > * {	width: 20%;}
  .block-lg-6 > * {	width: 16.66667%;}
  .block-lg-7 > * {	width: 14.28571%;}
  .block-lg-8 > * {	width: 12.5%;}
  .block-lg-9 > * {	width: 11.11111%;}
  .block-lg-10 > * { width: 10%;}
  .block-lg-11 > * { width: 9.09091%;}
  .block-lg-12 > * { width: 8.33333%;}

  .block-lg-1>*,.block-lg-2>*,.block-lg-3>*,.block-lg-4>*, .block-lg-5>*,.block-lg-6>*,.block-lg-7>*,.block-lg-8>*, .block-lg-9>*,.block-lg-10>*,.block-lg-11>*,.block-lg-12>*{
    clear:none;
  }
  .block-lg-1 > *:nth-of-type(1n+1),
  .block-lg-2 > *:nth-of-type(2n+1),
  .block-lg-3 > *:nth-of-type(3n+1),
  .block-lg-4 > *:nth-of-type(4n+1),
  .block-lg-5 > *:nth-of-type(5n+1),
  .block-lg-6 > *:nth-of-type(6n+1),
  .block-lg-7 > *:nth-of-type(7n+1),
  .block-lg-8 > *:nth-of-type(8n+1),
  .block-lg-9 > *:nth-of-type(9n+1),
  .block-lg-10 > *:nth-of-type(10n+1),
  .block-lg-11 > *:nth-of-type(11n+1),
  .block-lg-12 > *:nth-of-type(12n+1) {
    clear: both;
  }
}

