$icomoon-font-path: "fonts" !default;

$icon-download: "\e915";
$icon-check: "\e90b";
$icon-arrow-down: "\e906";
$icon-flag: "\e902";
$icon-help: "\e905";
$icon-info: "\e904";
$icon-pdf: "\e907";
$icon-print: "\e908";
$icon-xls: "\e909";
$icon-close: "\e90f";
$icon-faq: "\e90d";
$icon-facebook: "\e900";
$icon-twitter: "\e901";
$icon-profile: "\e90e";
$icon-location: "\f060";
$icon-arrow-left: "\e911";
$icon-arrow-right: "\e912";
$icon-arrow-up: "\e90a";
$icon-glass: "\e903";
$icon-location1: "\e90c";
$icon-calendar: "\e913";
$icon-repeat: "\e910";
$icon-email: "\e0be";
$icon-user: "\e7ff";
$icon-google-plus: "\e914";
$icon-edit: "\f044";
$icon-pencil-square-o: "\f044";
$icon-phone: "\f095";
$icon-warning: "\f071";

